.footer{
    width: 100%;
    display: flex;
    padding: 5%;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.redes img{
    padding: 0px 15px;
}
.redes a {
    margin-right: 10px; /* Ajusta el valor según el espacio deseado */
}

.redes a:first-child {
    padding-left: 10px; /* Ajusta el valor según el espacio deseado */
}

footer strong {
    padding-right: 28px; /* Ajusta el valor de padding a la derecha según tus preferencias */
}


@media (max-width: 768px) {
    .redes {
        display: flex;
        justify-content: center; /* Centrar los elementos horizontalmente */
        align-items: center; /* Centrar los elementos verticalmente */
    }

    .redes a {
        margin: 0 5px; /* Ajusta el valor de margen según tus preferencias */
    }

    .redes a:first-child {
        margin-left: 0; /* Restablece el margen izquierdo para el primer elemento */
    }
}


