.footer{
    width: 100%;
    display: flex;
    padding: 5%;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.redes img{
    padding: 0px 15px;
}
.redes a {
    margin-right: 10px; /* Ajusta el valor según el espacio deseado */
}

.redes a:first-child {
    padding-left: 10px; /* Ajusta el valor según el espacio deseado */
}

footer strong {
    padding-right: 28px; /* Ajusta el valor de padding a la derecha según tus preferencias */
}





